<!-- // image uploader with crope -->
<div class="image-uploader" style="margin: 20px">
  <div class="image-uploader__image-container">
    <div
      class="image-uploader__image-div"
      *ngFor="let image of images; index as i; first as isFirst"
    >
      <!-- <img class="image-uploader__image" [src]="image.url" [alt]="image.name" [preview]="true" /> -->
      <p-image
        [src]="image.url"
        [alt]="image.name"
        width="150"
        [preview]="true"
        class="image-uploader__image"
      >
      </p-image>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-times"
        class="p-button-rounded p-button-danger p-button-sm image-uploader__image-remove-button"
        (click)="removeImage(image)"
      ></button>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-window-minimize"
        class="p-button-rounded p-button-warning image-uploader__crop-button"
        label="Crop"
        (click)="selectImageForCrop(image.file)"
      ></button>
    </div>
  </div>
  <div class="image-uploader__input-container">
    <input
      #fileInput
      class="image-uploader__input"
      multiple="multiple"
      type="file"
      (change)="onFileChange($event)"
    />

    <button
      pButton
      pRipple
      type="button"
      label="Yükle"
      icon="pi pi-upload"
      class="p-button-success p-button-sm"
      (click)="uploadFile($event)"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Temizle"
      icon="pi pi-trash"
      class="p-button-danger p-button-sm"
      (click)="clearFiles($event)"
    ></button>
  </div>
</div>

<p-dialog
  header="Resim Düzenleme"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <p-megaMenu [model]="cropMenuItems" style="width: 100%"> </p-megaMenu>
  </ng-template>

  <image-cropper
    *ngIf="imageBase64String"
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="false"
    [containWithinAspectRatio]="containWithinAspectRatio"
    [aspectRatio]="1 / 1"
    [resizeToWidth]="256"
    [cropperMinWidth]="128"
    [onlyScaleDown]="true"
    [roundCropper]="false"
    [canvasRotation]="canvasRotation"
    [transform]="transform"
    [alignImage]="'center'"
    [style.display]="showCropper ? null : 'none'"
    [imageBase64]="imageBase64String"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady($event)"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Vazgeç"
      class="p-button-primary p-button-sm"
      icon="pi pi-times"
      (click)="displayModal = false"
    ></button>

    <button
      pButton
      pRipple
      type="button"
      label="Kes"
      class="p-button-warning p-button-sm"
      icon="pi pi-image"
      (click)="crop()"
    ></button>
  </ng-template>
</p-dialog>
